name: Diffusc (path mode)

on:
  push:
    paths-ignore:
      - "**.md"
      - "**.rs"
    branches:
      - main
  pull_request:
  schedule:
    # run CI every day even if no PRs/merges occur
    - cron:  '0 12 * * *'

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        include:
          - name: Safemoon
            out: ./contracts/test/safemoon/
            args: ./contracts/implementation/safemoon/SafemoonV2.sol ./contracts/implementation/safemoon/SafemoonV3.sol -p ./contracts/implementation/safemoon/TransparentProxyTestHarness.sol -v 0.8.11 #--run-custom ./contracts/test/safemoon/DiffFuzzCustomInit.sol DiffFuzzInit

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install diffusc
      run: |
        pip3 install .
        sudo cp bin/echidna /usr/local/bin
        solc-select install 0.8.11
        solc-select use 0.8.11

    - name: Run diffusc
      id: prepare
      run: |
        diffusc -L 200000 ${{ matrix.args }} -d ${{ matrix.out }}
        diff ${{ matrix.out }}/DiffFuzzUpgrades.sol ${{ matrix.out }}/DiffFuzzUpgradesExpected.sol
        diffusc -L 200000 -r ${{ matrix.args }} -d ${{ matrix.out }}